<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Student Study Portal Demo</div>
<div class="demo-container">
    <h1>Welcome to the Student Study Portal</h1>    <ul>
    <img th:src="@{/images/homework.jpg}" width="800" height="300"/>

    <!--<h2>1. <a th:href="@{/new/ROLE_USER/register}">New User Register</a></h2>-->
</ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>